* {
	padding: 0;
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

#content {
	justify-content: center;
	align-items: center;
	flex: 1;

	display: flex;
	flex-direction: column;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

/* Screens */

.screen {
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 50px;
}

/* Gameboards, Placeboard columns */

.board-bx > div {
	display: flex;
}

/* Game */

.title {
	text-align: center;
	padding: 20px;
}

.cell,
.cmp-cell {
	border: 1px solid #ddd;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Placement */

#placeboard {
	border: 1px solid #aaa;
}

.pboardCell {
	border: 1px solid #fff;
	background-color: #ecedff;
}

.shipBlock {
	border-color: #656565;
	background-color: #a8a8a8;
}

.undraggableDockedShip {
	opacity: 0.5;
}

.dockCountBox {
	color: #a8a8a8;
	width: 30px;
}

#buttons-bx {
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 30px;
}

button {
	background-color: #53637c;
	appearance: none;
	padding: 5px 28px;
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid #5276ad;
	color: #fff;
	cursor: pointer;
}

#startBtn {
	background-color: orange;
	border-color: rgb(231, 161, 33);
}

#startBtn:disabled {
	background-color: #d6d6d6;
	border: 1px solid #d0d0d0;
	color: #a2a3a3;
	cursor: default;
}
