:root {
	--page-color: #000;
	--page-bg-color: #fff;

	--header-color: #000;
	--header-bg-color: #fff;

	--content-color: #000;
	--content-bg-color: #fff;

	--footer-color: #000;
	--footer-bg-color: #fff;

	--cpuCell-border-color: rgb(227, 227, 227);
	--cpuCell-bg-color: #fbfbfb;

	--seaCell-border-color: #fff;
	--seaCell-bg-color: #ecedff;

	--shipCell-border-color: #656565;
	--shipCell-bg-color: #a8a8a8;

	--gameboard-border: 1px solid #aaa;

	--button-border: 1px solid #5276ad;
	--button-bg-color: #53637c;

	--mainButton-border-color: #ff8f00;
	--mainButton-bg-color: orange;

	--mainButton-disabled-border-color: #d0d0d0;
	--mainButton-disabled-bg-color: #d6d6d6;
	--mainButton-disabled-color: #a2a3a3;

	--dock-countBox-color: #a8a8a8;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--page-color);
	background-color: var(--page-bg-color);
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	color: var(--header-color);
	background-color: var(--header-bg-color);
}

#content {
	justify-content: center;
	align-items: center;
	flex: 1;

	display: flex;
	flex-direction: column;
	color: var(--content-color);
	background-color: var(--content-bg-color);
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	color: var(--footer-color);
	background-color: var(--footer-bg-color);
}

/* Screens */

.screen {
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 50px;
}

/* Gameboards, Placeboard columns */

.board-bx > div {
	display: flex;
}

/* Game */

.title {
	text-align: center;
	padding: 20px;
}

.cell {
	border: 1px solid #000;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cpuCell {
	border-color: var(--cpuCell-border-color);
	background-color: var(--cpuCell-bg-color);
}

.seaCell {
	border-color: var(--seaCell-border-color);
	background-color: var(--seaCell-bg-color);
}

.shipCell {
	border-color: var(--shipCell-border-color);
	background-color: var(--shipCell-bg-color);
}

/* Placement */

#pboard-bx,
#playerboard-bx,
#cpuboard-bx {
	border: var(--gameboard-border);
}

.undraggableDockedShip {
	opacity: 0.5;
}

.dockCountBox {
	color: var(--dock-countBox-color);
	width: 30px;
}

#buttons-bx {
	display: flex;
	align-items: center;
	padding-top: 40px;
	justify-content: space-evenly;
}

button {
	background-color: var(--button-bg-color);
	appearance: none;
	padding: 5px 28px;
	font-size: 15px;
	border-radius: 3px;
	border: var(--button-border);
	color: #fff;
	cursor: pointer;
}

.mainButton {
	background-color: var(--mainButton-bg-color);
	border-color: var(--mainButton-border-color);
}

.mainButton:disabled {
	background-color: var(--mainButton-disabled-bg-color);
	border-color: var(--mainButton-disabled-border-color);
	color: var(--mainButton-disabled-color);
	cursor: default;
}
