* {
	padding: 0;
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

#content {
	justify-content: center;
	align-items: center;
	flex: 1;
	display: flex;
	gap: 50px;
}
.title {
	text-align: center;
	padding: 20px;
}
.gameboard-bx > div {
	display: flex;
}

.cell,
.cmp-cell {
	border: 1px solid #ddd;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
